.brand-wrapper {
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    padding: 60px 0;

    &.style-2 {
        padding: 0;
        border: none;
        padding-top: 100px;
        padding-bottom: 100px;

        p {
            letter-spacing: 0.16em;
            text-transform: uppercase;
            color: #000000;
            text-align: center;
            border: 1px solid #CCCCCC;
            max-width: 240px;
            margin: 0 auto 60px;
            padding: 7px 16px;
            line-height: 1;
        }
    }

    .brand-box-1 {
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 42px;

    .brand-img-1 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
       // opacity: 0.4;
        transition: all 0.6s ease; // smooth animation
        transform: translateY(0);
        }

        &:last-child img {
        transform: translateY(-350%);
        opacity: 0;
        }
    }

    &:hover {
        .brand-img-1:first-child img {
        transform: translateY(100%);
        opacity: 0;
        }

        .brand-img-1:last-child img {
        transform: translateY(0);
        opacity: 1;
        }
    }

}
}