.about-wrapper-4 {
    margin-bottom: 90px;

    @include breakpoint (max-xl){
        margin-bottom: 0;
    }

    .about-image-items {
        max-width: 478px;
        position: relative;

        @include breakpoint (max-xl){
            max-width: initial;
        }

        @include breakpoint (max-lg){
            height: 500px;
        }

        img {
            @include imgw;
            object-fit: cover;
        }

        .thumb1 {
            position: absolute;
            right: -100px;
            bottom: -100px;

            @include breakpoint (max-xxxl){
                right: -60px;
            }

             @include breakpoint (max-xl){
                right: 0;
                bottom: 0;
            }

            @include breakpoint (max-sm){
                max-width: 200px;

                img {
                    border: 2px solid $white;
                }
            }

            img {
                border: 8px solid $white;
            }
        }
    }

    .about-content {
        .about-text {
            margin-top: 25px;
            max-width: 500px;
        }

        ul {
            margin-top: 32px;
            margin-bottom: 40px;

            li {
                font-size: 20px;
                font-weight: 400;
                color: #121212;
                @include flex;
                gap: 12px;

                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }

        .theme-btn {
            &.theme-btn4 {
                border: 1px solid $header-color;
                background-color: $white;

                &::before {
                    background-color: $theme-color-4;
                }

                &::after {
                    background-color: $theme-color-4;
                }

                &:hover {
                    border: 1px solid $theme-color-4;
                    color: $white;
                }
            }
        }
    }

    .about-inner-right-thumb {
        max-width: 638px;
        
        img {
            @include imgw;
        }
    }
}

.about-section-4 {
    border-bottom: 1.2px solid #D4D4D4;
}

.about-inner-wrapper {
    .thumb {
        img {
            width: 100%;
        }
    }

    .about-content {
        margin-left: 40px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

         .accordion-box {
            position: relative;
            margin-top: 40px;
            max-width: 600px;
            border-top: 1px solid rgba(15, 23, 42, 0.1);
            padding-top: 30px;

            @include breakpoint (max-md){
                margin-top: 30px;
            }

            .block {
                position: relative;
                background-color: transparent;
                margin-bottom: 10px;
                border-bottom: 1px solid rgba(15, 23, 42, 0.1);
                margin-bottom: 30px;
                line-height: 1;
                padding-bottom: 32px;

            

                .acc-btn {
                    position: relative;
                    font-size: 20px;
                    color: $header-color;
                    font-weight: 600;
                    font-family: $heading-font;
                    cursor: pointer;
                    -webkit-transition: all 500ms ease;
                    transition: all 500ms ease;

                    @include breakpoint (max-xxs){
                        font-size: 20px;
                    }

                    .number {
                        color: $text-color;
                        font-family: $heading-font;
                        font-size: 32px;
                        font-weight: 500;
                        letter-spacing: -3px;
                        margin-left: -50px;
                        margin-right: 15px;
                    }


                    .icon {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 35px;
                        font-size: 18px;
                        line-height: 18px;
                        color: $header-color;
                        -webkit-transition: all 500ms ease;
                        transition: all 500ms ease;
                    }
                }

                .acc-content {
                    position: relative;
                    display: none;
                    margin-top: 22px;

                    @include breakpoint (max-xxs){
                        margin-top: 10px;
                    }

                    .content {
                        position: relative;

                        .text {
                            line-height: 175%;
                            font-size: 16px;
                            font-weight: 400;
                            color: #808080;
                            max-width: 570px;

                            @include breakpoint (max-xl){
                                font-size: 14px;
                            }

                            @include breakpoint (max-xxs){
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }

        .accordion-box .block .acc-content.current {
            display: block;
        }

        .accordion-box .block .acc-btn.active .icon:before {
            content: "\f077";
            color: $header-color;
        }

        .accordion-box .block .acc-btn.active {
            color: $header-color;
        }

        .accordion-box .block:last-child {
            margin-bottom: 0;
        }

        .about-btn {
            @include flex;
            margin-top: 40px;
            gap: 25px;

            .theme-btn {
                border: 1px solid $header-color;

                &:hover {
                    border: 1px solid $theme-color;
                }
            }

            .link-btn {
                color: $header-color;
                font-size: 16px;
                font-weight: 600;
                text-decoration: underline;

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}

.about-counter-inner-wrapper {
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    @include flex;
    justify-content: space-between;
    padding: 0 30px;

    @include breakpoint (max-xl){
        padding: 30px;
        gap: 30px;
        flex-wrap: wrap;
    }

    .counter-items {
        @include flex;
        gap: 12px;

        .icon {
            width: 68px;
            height: 68px;
            border-radius: 50%;
            line-height: 68px;
            border: 1px solid #D4D4D4;
            text-align: center;
        }

        h2 {
            @include breakpoint (max-md){
                font-size: 30px;
            }
        }
    }

    .line {
        width: 1px;
        height: 148px;
        background-color: #D4D4D4;

        @include breakpoint (max-xl){
            display: none;
        }
    }
}