.header-top-section {
	position: relative;
	z-index: 9999;
	background: rgba(201, 226, 101, 1);

	
	.container-fluid {
        padding: 0 30px;
		
		@include breakpoint (max-xxl) {
			padding: 0 30px;
		}
		@include breakpoint (max-sm) {
			padding: 0 15px;
		}
    }

	@include breakpoint (max-xxl){
		display: none;
	}

	&.style-3 {
		background-color: $white;
		border-top: 4px solid rgba(56, 182, 255, 1);
	}

	&.style-4 {
		background-color: #000;
	}
}

.header-top-wrapper {
	@include flex;
	justify-content: space-between;
	padding: 0px 0;

	.contact-list {
		@include flex;
		gap: 22px;

		li {
			color: rgba(18, 18, 18, 1);
			font-size: 14px;
			font-weight: 500;

			i {
                color: rgba(18, 18, 18, 1);
				margin-right: 10px;
			}

			a {
				color: rgba(18, 18, 18, 1);
			}
		}
	}

    .flag-wrapper {
        @include flex;
        gap: 20px;

        .flag-wrap {
			position: relative;

			@include breakpoint (max-xxl) {
				display: none;
			}
			
			.nice-select {
				background: transparent;
				border: none;
				text-align: center;
				margin: 0 auto;
				position: relative;
				z-index: 99999;
	
				span{
					font-size: 14px;
					font-weight: 500;
					text-transform: capitalize;
					color: $header-color;
				}

                .list {
					background-color: $white;
					z-index: 9999;

                    li {
                        color: $header-color; 
                    }
                }

                &::after {
                    border-bottom: 2px solid $header-color;
                    border-right: 2px solid $header-color;  
                    height: 7px;
                    margin-top: -6px;
                    width: 7px;   
                    right: -5px;           
                }

				&.style-2 {

					span {
						text-transform: uppercase;
					}
				}
			}
	
			.flag {
				position: absolute;
				top: 9px;
				left: 15px;
				z-index: 1;


				@include breakpoint(max-md){
					display: none
				}
			}
		}

		.content {

			button {

				&.account-text {
					font-size: 15px;
   					font-weight: 400;
					text-transform: capitalize;
					color: $header-color;
				}
			}
		}
    }

	&.style-4 {
		.contact-list {
			@include flex;
			gap: 22px;

			li {
				color: rgba(255, 255, 255, 1);
				font-size: 14px;
				font-weight: 500;

				i {
					color: rgba(255, 255, 255, 1);
					margin-right: 10px;
				}

				a {
					color: rgba(255, 255, 255, 1);
				}
			}
		}

		.flag-wrapper {
			@include flex;
			gap: 20px;

			.flag-wrap {
				position: relative;

				@include breakpoint (max-xxl) {
					display: none;
				}
				
				.nice-select {
					background: transparent;
					border: none;
					text-align: center;
					margin: 0 auto;
					position: relative;
					z-index: 99999;
		
					span{
						font-size: 14px;
						font-weight: 500;
						text-transform: capitalize;
						color: rgba(255, 255, 255, 1);
					}

					.list {
						background-color: $white;
						z-index: 9999;

						li {
							color: #000; 
						}
					}

					&::after {
						border-bottom: 2px solid rgba(255, 255, 255, 1);
						border-right: 2px solid rgba(255, 255, 255, 1);  
						height: 7px;
						margin-top: -6px;
						width: 7px;   
						right: -5px;           
					}

					&.style-2 {

						span {
							text-transform: uppercase;
						}
					}
				}
		
				.flag {
					position: absolute;
					top: 9px;
					left: 15px;
					z-index: 1;


					@include breakpoint(max-md){
						display: none
					}
				}
			}

			.content {

				button {

					&.account-text {
						font-size: 15px;
						font-weight: 400;
						text-transform: capitalize;
						color: $header-color;
					}
				}
			}
		}
	}
}

.header-top-wrapper-3 {
	@include flex;
	justify-content: space-between;

	.flag-wrapper {
        @include flex;
        gap: 20px;

        .flag-wrap {
			position: relative;

			@include breakpoint (max-xxl) {
				display: none;
			}
			
			.nice-select {
				background: transparent;
				border: none;
				text-align: center;
				margin: 0 auto;
				position: relative;
				z-index: 99999;
	
				span{
					font-size: 14px;
					font-weight: 500;
					text-transform: capitalize;
					color: $header-color;
				}

                .list {
					background-color: $white;
					z-index: 9999;

                    li {
                        color: $header-color; 
                    }
                }

                &::after {
                    border-bottom: 2px solid rgba(18, 18, 18, 1);
                    border-right: 2px solid rgba(18, 18, 18, 1);  
                    height: 7px;
                    margin-top: -6px;
                    width: 7px;   
                    right: -5px;           
                }

				&.style-2 {

					span {
						text-transform: uppercase;
					}
				}
			}
	
			.flag {
				position: absolute;
				top: 9px;
				left: 15px;
				z-index: 1;


				@include breakpoint(max-md){
					display: none
				}
			}
		}
    }

	.header-icon {
		@include flex;
		gap: 18px;

		@include breakpoint (max-xxl) {
			display: none;
		}

		li {
			a {
				color: rgba(18, 18, 18, 1);
				position: relative;

				i {
					font-size: 20px;
				}

				.number {
					position: absolute;
					top: -11px;
					right: -8px;
					width: 17px;
					height: 17px;
					border-radius: 50px;
					line-height: 17px;
					text-align: center;
					background-color: rgba(56, 182, 255, 1);
					color: rgba(18, 18, 18, 1);
					font-size: 14px;
					font-weight: 400;
				}
			}
		}
	}
}

.header-top-section-5 {
	background-color: $white;
	position: relative;
	z-index: 9;

	&::before {
		@include before;
		background-color: #FF914D;
		right: initial;
		width: 640px;
		z-index: -1;
	}

	&::after {
		position: absolute;
		content: "";
		background-color: #FF914D;
		width: 640px;
		height: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
	}

	.container-fluid {
        padding: 0 170px;

		@include breakpoint (max-xl4) {
			padding: 0 70px;
		}

		@include breakpoint (max-xxxl) {
			padding: 0 50px;
		}
		
		@include breakpoint (max-xxl) {
			padding: 0 30px;
		}
		@include breakpoint (max-sm) {
			padding: 0 15px;
		}
    }

	@include breakpoint (max-xxl){
		display: none;
	}
}


.header-top-inner {
	@include flex;
	justify-content: space-between;
	padding: 10px 0;

	.text {
		color: rgba(18, 18, 18, 1);
		font-size: 14px;
		font-weight: 500;

		img {
			margin-right: 5px;
			filter: grayscale(100%) brightness(0.2);
		}
	}
}


//>>>>> Header Main Start <<<<<//
.menu-thumb {
	@include breakpoint (max-xl){
		display: none !important;
	}
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;

	.main-menu {
		ul {
			margin-bottom: 0;

			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 50px;

				@include breakpoint (max-xl) {
					margin-inline-end: 30px;
				}
	
			&:last-child {
				margin-inline-end: 0;
			}
	
			a {
				display: inline-block;
				font-size: 16px;
				font-weight: 500;
				color: rgba(212, 212, 212, 1);
				padding: 20px 0;
				text-align: left;
				position: relative;
				text-transform: capitalize;
				@include transition;

				i {
					margin-left: 4px;
                    font-size: 14px;
				}
	
				&:hover {
					color: $theme-color;
				}
	
			}
			.submenu {
				position: absolute;
				top: 115%;
				inset-inline-start: 0;
				min-width: 260px;
				padding: 20px 0;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color: $header-color;
				transform: translateY(-10px);
				@include transition;
				border-top: 6px solid $theme-color;
				background-color: $white;
				box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);


				li {
					display: block;
					width: 100%;
					margin: 0;
					
	
					a {
						position: relative;
						z-index: 11;
						font-size: 16px;
						font-weight: 500;
						letter-spacing: -0.34px;
						color: $header-color;
						line-height: 38px;
   						padding: 0px 0px 0px 32px;
                        padding-right: 22px;
						width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

						&::before {
							content: "";
							position: absolute;
							width: 0px;
							height: 2px;
							background: $theme-color;
							left: 14px;
							bottom: 18px;
							transition: all 0.4s ease-in-out;
						}

						&:hover {
							color: $theme-color;
						}
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 100%;
						top: 0;
						visibility: hidden;
						opacity: 0;
					}
					&:hover {
						>a {
							color: $theme-color !important;
							margin-left: 10px;

							&::before {
								width: 10px;
							}

							&::after {
								color: $theme-color;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: $theme-color;
						}
					}
				}
			}

			.has-homemenu {
				width: 1000px;
				padding: 30px 30px 10px 30px;
				opacity: 0;
				left: -20px;
				visibility: hidden;
				padding: 30px 30px 10px 30px;
                background-color: $white;
				border-radius: 8px;
			
				.homemenu-items {
					@include flex;
					gap: 30px;
					justify-content: space-between;

					@include breakpoint (max-lg){
						flex-wrap: wrap;
					}

					.homemenu {
						position: relative;
						.homemenu-thumb {
							position: relative;
	
							.demo-button {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								opacity: 0;
								visibility: hidden;
								@include transition;
								margin-top: 20px;
								width: 100%;
   								 padding: 0 12px;

								@include breakpoint (max-xxl){
									.theme-btn {
										font-size: 14px;
										min-width: 140px;
									}
								}
	
								.theme-btn {
									background-color: $theme-color;
									color: $header-color;
									display: inline-block;
									font-size: 16px;
									font-weight: 600;
									padding: 20px 40px;
									border-radius: 0;
									text-transform: capitalize;
									-webkit-transition: all 0.3s ease-in-out;
									transition: all 0.3s ease-in-out;
									position: relative;
									z-index: 1;
									line-height: 1;
									text-align: center;

									&::before {
										content: "";
										background-color: $header-color;
										width: 0;
										height: 50%;
										position: absolute;
										top: 0;
										left: 0;
										-webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
										transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
										z-index: -1;
									}

									&::after {
										content: "";
										background-color: $header-color;
										width: 0;
										height: 50%;
										position: absolute;
										bottom: 0;
										right: 0;
										-webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
										transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
										z-index: -1;
									}

									&:hover {
									  color: $white;

										&::before,&::after {
											width: 100%;
										}
									}
								}
							}

							a {
								padding: 0;
							}
	
							&::before {
								// background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0)), to(#5e5ef6));
								// background: linear-gradient(to bottom, rgba(99, 92, 92, 0) 0%, #252527 100%);
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
								width: 100%;
								height: 100%;
								position: absolute;
								left: 0;
								top: 0;
								overflow: hidden;
								opacity: 0;
								-webkit-transition: all 0.3s ease-in-out;
								transition: all 0.3s ease-in-out;
								content: "";
							}
							&:hover{
	
								&::before {
									visibility: visible;
									opacity: 1;
								}
	
								.demo-button {
									opacity: 1;
									visibility: visible;
									margin-top: 0;
								}
								& .homemenu-btn {
									opacity: 1;
									visibility: visible;
									bottom: 50%;
									transform: translateY(50%);
								}
							}
							img {
								width: 100%;
							}
						}
	
						.homemenu-title {
							text-align: center;
							margin: 15px auto;
							display: inline-block;
							font-size: 16px;
                            font-weight: 600;
                            color: $header-color;
						}
					}
				}
			}
			
			&:hover {
				>a {
					color:  $theme-color;

					&::after {
						color:  $theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
	}

	.header-right {
		position: relative;
        z-index: 999;
        @include flex;
        gap: 25px;

		 .search-widget {
            form {
                width: 100%;
                position: relative;
				width: 300px;
        
                input {
                    background-color: transparent;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 10px 40px;
                    width: 100%;
                    border: none;
                    color: rgba(128, 128, 128, 1);
					border: 1px solid rgba(66, 66, 66, 1);
                    border-radius: 0px;
                }
        
                button {
                    position: absolute;
                    left: 16px;
					top: 13px;
					font-size: 16px;
                    color: $white;
                    text-align: center;
                    transition: all .3s ease-in-out;
                }
            }

			 @include breakpoint (max-xxl) {
				display: none;
			}
        }

       .header-icon {
            @include flex;
            gap: 25px;

			@include breakpoint (max-xxl) {
				display: none;
			}

            li {
                a {
                    color: rgba(255, 255, 255, 1);
                    position: relative;

					i {
						font-size: 20px;
					}

                    .number {
                        position: absolute;
                        top: -11px;
						right: -8px;
						width: 17px;
						height: 17px;
						border-radius: 50px;
						line-height: 17px;
                        text-align: center;
                        background-color: rgba(255, 145, 77, 1);
                        color: rgba(18, 18, 18, 1);
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }

		.header__hamburger {

			.sidebar__toggle {
				color: rgba(255, 255, 255, 1);
				cursor: pointer;

				 @include breakpoint (max-xxl) {
					font-size: 22px;
				}
			}
		}
	}
}

.header-1 {
	position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    top: 0;
	background-color: rgba(18, 18, 18, 1);
	margin-top: 44px;

	@include breakpoint (max-xxl) {
		top: 0;
		margin-top: 0;
	}

	.container-fluid {
		padding: 0 30px;

		@include breakpoint (max-sm) {
			padding: 0 15px;
		}
	}

    .header-main {

        .header-left {
			@include flex;
			gap: 150px;

            .header-logo-2 {
                display: none;
            }
        }
    }

	&.header-2 {
		margin-top: 0;
		background-color: rgba(255, 255, 255, 1);
		position: static;

		.header-main {
			.header-left {
				@include flex;
				gap: 410px;

				@include breakpoint (max-xxxl) {
					gap: 90px;
				}

				.main-menu {
					ul {
						li {
							a {
								color: rgba(18, 18, 18, 1);
							}
						}
					}
				}
			}

			.header-right {
				.search-widget {
					form {
						
						input {
							color: rgba(128, 128, 128, 1);
							border: 1px solid rgba(212, 212, 212, 1);
						}
				
						button {
							color: rgba(18, 18, 18, 1);
							font-size: 18px;
						}
					}
				}

				.header-icon {
					
					li {
						a {
							color: rgba(18, 18, 18, 1);

							.number {
								background-color: rgba(201, 226, 101, 1);
							}
						}
					}
				}

				.header__hamburger {

					.sidebar__toggle {
						color: rgba(18, 18, 18, 1);
					}
				}
			}
		}
	}

	&.header-3 {
		position: static;
		margin-top: 0;

		.header-main {
			padding: 0 0;

			@include breakpoint (max-xxl) {
				padding: 10px 0;
			}

			.logo {
				display: none;

				@include breakpoint (max-xxl) {
					display: block;
				}

				.logo-2 {
					display: none;
				}
			}

			.header__hamburger {

				@include breakpoint (max-xxl) {
					display: none;
				}

				.sidebar__toggle {
					color: rgba(255, 255, 255, 1);
					cursor: pointer;
				}
			}

			.search-widget {
					form {
						width: 100%;
						position: relative;
				
						input {
							background-color: transparent;
							font-size: 14px;
							font-weight: 500;
							border: none;
							color: rgba(128, 128, 128, 1);
							padding: 0;
						}
				
						button {
							position: absolute;
							right: 40px;
							top: 2px;
							font-size: 15px;
							color: $white;
							text-align: center;
							transition: all .3s ease-in-out;
						}
					}

					@include breakpoint (max-xxl) {
						display: none;
					}
				}

			.main-menu {
				border-left: 1px solid rgba(255, 255, 255, 0.3);

				ul {
					li {
						margin-inline-end: 0px;

						a {
						    border-right: 1px solid rgba(255, 255, 255, 0.3);
							padding: 12px 40px 12px;
						}

						.submenu {
							li {
								a {
									padding: 0px 0px 0px 32px;
								}
							}
						}
					}
				}
			}

			.header-right {
				.header__hamburger-2 {
					display: none;

					@include breakpoint (max-xxl) {
						display: block;
					}

					.sidebar__toggle {
						color: rgba(255, 255, 255, 1);
						cursor: pointer;
						font-size: 20px;
					}
				}
			}
		}
	}

	&.header-4 {
		background-color: transparent;
		

		.header-main {
			.header-left {
				@include flex;
				gap: 80px;

				.main-menu {
					ul {
						li {
							a {
								color: rgba(18, 18, 18, 1);
							}
						}
					}
				}
			}

			.header-right {
				.header-icon {
					
					li {
						a {
							color: rgba(18, 18, 18, 1);

							.number {
								background-color: #F58720;
								color: rgba(18, 18, 18, 1);
							}
						}
					}
				}

				.header__hamburger {

					.sidebar__toggle {
						color: rgba(18, 18, 18, 1);
						cursor: pointer;
					}
				}
			}
		}
	}
}

//>>>>> Header 01 Start <<<<<//


//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 99999;
	transition: all 0.9s;
    background-color: $white;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	

	&.header-1 {
		margin-top: 0;

        .header-main {
		
            .header-left {

                .header-logo {
                    display: none;
                }

                .header-logo-2 {
                    display: block;
                }
            }

            .main-menu {
                ul {

                    li {
                        a {
                            color: $header-color;
                        }
                    }
                }
            }
        
            .header-right {
				.search-widget {
					form {
						button {
							color: $header-color;
						}
					}
				}

				.header-icon {

					li {
						a {
							color: rgba(18, 18, 18, 1);
						}
					}
				}

				.header__hamburger {

					.sidebar__toggle {
						color: rgba(18, 18, 18, 1);
					}
				}
            }
        }
	}

	&.header-3 {
		.header-main {
			.header__hamburger {

				@include breakpoint (max-xxl) {
						display: none;
					}

				.sidebar__toggle {
					color: #000;
					cursor: pointer;
				}
			}

			.logo {
				a {
					display: none;
				}

				.logo-2 {
					@include breakpoint (max-xxl) {
						display: block;
					}
				}
			}

			.header-right {
				.header__hamburger-2 {
					display: none;

					@include breakpoint (max-xxl) {
						display: block;
					}

					.sidebar__toggle {
						color: #000;
						cursor: pointer;
						font-size: 20px;
					}
				}
			}
		}
	}

	&.header-4 {
		background-color: #fff;
	}
}

//>>>>> Offcanvas Start <<<<<//


.offcanvas__info {
	background: $white none repeat scroll 0 0;
	border-left: 2px solid  $theme-color;
	position: fixed;
	right: 0;
	top: 0;
	width: 450px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 9999999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	&.style-3 {
		background: $white none repeat scroll 0 0;
		border-right: 2px solid $theme-color; 
		position: fixed;
		left: 0; 
		top: 0;
		width: 450px;
		height: 100%;
		transform: translateX(calc(-100% - 80px)); 
		transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
		z-index: 9999999;
		overflow-y: scroll;
		overscroll-behavior-y: contain;
		scrollbar-width: none;

		   @include breakpoint (max-xxl) {
			    background: $white;
				border-left: 2px solid $theme-color;
				position: fixed;
				right: 0;   
				left: auto;       
				top: 0;
				width: 300px;
				height: 100%;
				transform: translateX(calc(100% + 80px)); 
				transition: transform 0.45s ease-in-out;
				z-index: 9999999;
				overflow-y: scroll;
				scrollbar-width: none;
				position: fixed;

				&::-webkit-scrollbar {
					display: none;
			}
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas__content {
		.text {
			color: $black;
		}

		.offcanvas__close {
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			border-radius: 50%;
			background-color: $theme-color;
			position: relative;
			z-index: 9;
			cursor: pointer;

			i {
				color: $white;
			}
		}

		.offcanvas__contact {
			margin-top: 20px;

			@include breakpoint (max-sm) {
				display: none;
			}

            h4 {
                margin-bottom: 20px;
            }

			ul {
				margin-top: 0;

				li {
					font-size: 20px;
					font-weight: 600;
					text-transform: capitalize;

					@include breakpoint (max-sm) {
						font-size: 14px;
					}

					&:not(:last-child){
						margin-bottom: 30px;

						@include breakpoint (max-sm) {
							margin-bottom: 20px;
						}
					}

					a {
						color: $black;
					}
					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $theme-color;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

			.header-button {
				
				.theme-btn {
					width: 100%;
					padding: 20px 40px;
					text-transform: capitalize !important;
				}
			}

			.social-icon {
                margin-top: 30px;
                gap: 10px;

                a {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    border-radius: 100%;
                    text-align: center;
                    font-size: 16px;
                    display: block;
                    background: transparent;
                    color: #000;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    text-align: center;
                    border: 1px solid $border-color;

                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}


//>>>>> Breadcrumb Start <<<<<//
.breadcrumb-wrapper{
	position: relative;
	overflow: hidden;
    z-index: 9;

	.page-heading{
		position: relative;
		padding: 190px 0 120px;
		z-index: 9;
		text-align: center;

		@include breakpoint (max-md){
			text-align: center;
			padding-top: 130px;
            padding-bottom: 90px;
		}

		h1 {
			color: $header-color;
			font-size: 50px;
			position: relative;
			text-transform: capitalize;
			z-index: 9;
		
			@include breakpoint(max-xxs){
				font-size: 40px;
			}

		}

		.breadcrumb-items {
			@include flex;
			margin-top: 20px;
			gap: 10px;
			justify-content: center;

			@include breakpoint (max-sm){
				margin-top: 15px;
			}
			
			li{
				color: $header-color;
				text-transform: capitalize;
				font-weight: 500;
				font-size: 16px;
	
				a {
					color: $header-color;				;
					@include transition;

					i {
						color: $theme-color;
						margin-right: 9px;
					}
	
					&:hover{
						color: $theme-color;
                        opacity: 1;
					}

					i {
						color: $theme-color;
						margin-right: 5px;
					}
				}
	
				i {
					color: $white;
				}
			}
		}
	}
}

.error-items {
	text-align: center;
    position: relative;
    max-width: 660px;
    margin: 0 auto;
    text-align: center;

	.error-image {
        margin-bottom: 40px;

        img {
			@include imgw;
		}
	}

	h2 {
		font-size: 40px;
		font-weight: 700;
		letter-spacing: -2px;
		margin-bottom: 15px;
        text-align: center;

		@include breakpoint (max-sm){
			font-size: 30px;
		}

	}

	p {
        max-width: 500px;
		margin: 0 auto 40px;

		@include breakpoint(max-md){
			margin-bottom: 30px;
		}
	}

	.theme-btn {
		color: $header-color;
		border: 1px solid $header-color;

		&::before, ::after {
			background-color: $theme-color;
		}

		&:hover {
			color: $white;
			border: 1px solid $theme-color;
		}
	}
}